/* menu tree *************************************************************************************/
.admin_content ul, .admin_content li, .admin_content span { border: 0px gray solid; padding-right: 0px; margin-right: 0px; }
.admin_content li { margin-left: 2em; list-style: none; }
.admin_content li span { padding: 3px 0px 3px 3px; display: inline-block; width: 99%; }
.admin_content li span:hover { background-color: #ddd; }
.admin_content li span .actionboard { float:right; width: auto; }

/* show smallbar only on hover */
.admin_content li span .actionboard { display: none; }
.admin_content li span:hover .actionboard { display: inline-block; }

/* special margin for "delete" button */
.menu_sb_btn_delete { margin-left: 1em; }

/* menu list. also this class required for event-handlers attaching */
.admin_menu_tree {  }