/****************
TEMP CODE STARTED
****************/
.sender_table {
	border-collapse : collapse;
}
.sender_table td {
	border: 1px #ddd solid;
	padding: 3px;
}

/*****************
TEMP CODE FINISHED
*****************/

.json_data {
	display             : none;
}

/*************************************************************************************************/
/* double-scroller mechanism *********************************************************************/
/*************************************************************************************************/
.datablock_table_wrapper_header {
	overflow-x          : hidden;
	overflow-y          : scroll;
	width               : 100%;
}
.datablock_table_wrapper_header table {
	margin              : 0px;
}

.datablock_table_wrapper_content {
	overflow-x          : scroll;
	overflow-y          : scroll;
	width               : 100%;
}
.datablock_table_wrapper_content table {
	margin              : 0px;
}

/* commons */
.datablock_wrapper {
	width               : 100%;
	border              : 1px #bbb solid;
}

.datablock_table_content tr:nth-child(odd)        { background-color : #ffffff; }
.datablock_table_content tr:nth-child(even)       { background-color : #f4f4f4; }
.datablock_table_content tr:nth-child(odd):hover  { background-color : #dfdfdf; }
.datablock_table_content tr:nth-child(even):hover { background-color : #d4d4d4; }


.datablock_table_header, .datablock_table_content {
	table-layout        : fixed;
}

table.datablock_table_content tr td,
table.datablock_table_header tr td {
	overflow            : hidden;
	padding             : 2px;
}

/*************************************************************************************************/
/* loadingbars ***********************************************************************************/
/*************************************************************************************************/
.lock_back_back {
	position            : fixed;
	top                 : 0px;
	left                : 0px;
	background-color    : #ccc;
	opacity             : 0.5;
	filter              : alpha(opacity=40);
	z-index             : 500;
}
.lock_back_image {
	position            : fixed;
	top                 : 0px;
	left                : 0px;
	background          : transparent url('../images/loadingbar.gif') center center no-repeat;
	z-index             : 501;
}

.button-with-loader {
	background-image    : url('../images/loadingbar.gif');
	background-position : center center;
	background-repeat   : no-repeat;
}

/*************************************************************************************************/
/* context menu **********************************************************************************/
/*************************************************************************************************/
.context_menu {
	position            : absolute;
	top                 : 10px;
	left                : 10px;
	background-color    : #ccc;
	z-index             : 900;
	box-shadow          : 3px 3px 4px 0px gray;
	border              : 1px #ccc solid;
}

.contextmenu_table {
	border-collapse     : collapse;
}

.contextmenu_table tr {
	height              : 22px;
	vertical-align      : middle;
}

.contextmenu_table tr.contextmenu_divider{
	height              : 16px;
}

.contextmenu_table td {
	border-width        : 0px;
	color               : black;
	font-size           : 0.8rem;
	font-family         : verdana, tahoma, arial;
	padding             : 3px 5px 3px 2px;
	cursor              : pointer;
}

.contextmenu_table td hr {
	border-color        : #ccc white white #ccc;
	border-width        : 1px;
	border-style        : inset;
	margin-top          : 0px; /* override bootstrap values */
	margin-bottom       : 0px;
}

.contextmenu_table tr:hover td {
	color               : white;
	background-color    : #333;
}

.contextmenu_table tr.contextmenu_item_disabled td {
	color               : gray;
	text-shadow         : 1px 1px 1px white;
	cursor              : default;
}

.contextmenu_table tr.contextmenu_item_disabled:hover td {
	background-color    : inherit;
}
