/*************************************************************/
/*** row-edit popup dialog ***********************************/
/*************************************************************/


/*** common formatting ***************************************/
.edit-dialog-wrapper {
	min-width           : 600px;

}

div[data-form-container="edit-dialog-form"] {
	padding-top         : 1rem;
}


/*** categories buttons **************************************/
.edit-dialog-categories {
	border-bottom       : 1px #ccc dashed;
}

.edit-dialog-categories input {
	margin              : 0px 5px 10px 5px;
}


/*** bottom buttons ******************************************/
.edit-dialog-buttons {
	text-align          : right;
}

.edit-dialog-buttons input {
	margin              : 5px 5px 5px 5px;
}