.datablock_table_wrapper_content { height: 300px; }
.recipient-list { font-size: 0.8em; }
.recipient-list .datablock_table_header { font-weight: bold; }
.recipient-list .datablock_table_header tr td:nth-child(1) input { display: none; }
.recipient-list table tr { background-color: white; }
.recipient-list table td { border: 1px #ccc solid; }

.recipient-list label { display: inline-block; padding-right: 1.5em; margin-right: -1.5em; margin-left: 1em; color: black; font-weight: bold; }
.recipient-list input { color: black; }
.recipient-list input:focus { color: black; outline: none; }

.recipient-list-search input { width: 20em; display: inline; }